#container {
 
  height: 2000px;
  width: 100%;
}

#header-div {
  
  height:150px;
  width:100%;


}

#delicious {
  
  height:100px;
  width:100%;
  position: relative;
}

#logo {
  height:75px;
  width:500px;
  position: relative;

}
ul{
  list-style: none;
}
#par-delicous{
  position: absolute;
  top: 7px;
  left: 100px;
  
}

#par-best{
  position: absolute;
  top: 30px;
  left: 100px;
}

#social-media {
  
  height:50px;
  width:300px;
  position: absolute;
  top: 20%;
  right: 0;
}
.hr-div{
 background-image: url('https://raw.githubusercontent.com/codefellows/seattle-201d57/master/class-10/lab-a/lab-assets/hr-img.png');
 background-repeat: repeat;
 height: 20px;
}

#body {
  
  height:1500px;
  width:100%;
}

#title-bar{
  
  height:150px;
  width:100%;
  position: relative;
}
#title{
  
  height:75px;
  width:35%;
  position:absolute;
  bottom: 0;
  margin-bottom: 0px;
}
#title h1{
  margin-bottom: 0px;
}
#title p{
  font-size: 10px;
  margin-top:0px;
}
#print-button{
   
  height:50px;
  width:80px;
  position:absolute;
  bottom: 0;
  right: 0;
}
#ul-print{
  padding-left: 0px;
}
#ul-print img{
  height: 15px;
  width: 15px;
}

#ul-print li{
  font-size:15px;
  display: inline;
}

#cake-img {
  
  height:500px;
  width:100%;
}
#cake-img img{
  height: 500px;
  width: 100%
}

#main-paragraph {
  
  height:250px;
  width:100%;
  
}
#main-paragraph p{
  text-indent: 50px;
}

#reciept-img {
  
  height:250px;
  width:100%;
  background-image:url("https://raw.githubusercontent.com/codefellows/seattle-201d57/master/class-10/lab-a/lab-assets/list-bg.png");
  background-repeat: no-repeat

  
}


#ul-chckbx {
  
  height:200px;
  width:100%;
  position: relative;
  
}
#box1{
  position: absolute;
  top:0;
  left: 0;
}
#box2{
  position: absolute;
  top:0px;
  right: 0;
}

#author {
  
  height:200px;
  width:100%;
  position: relative;
}

#author-img {
  
  height:100px;
  width:500px;
  position: absolute;
  top:0;
  left:0;
}
#aurthor-img li{
  position: absolute;
  top:0;
  left:0;
}

#author-stats {
  
  height:150px;
  width:60%;
  position:absolute;
  top: 0;
  left: 150px;
  
}

#share-button {
  
  height:100px;
  width:200px;
  position:absolute;
  top:10%;
  right: 0;
}

#footer {
  
  height:250px;
  width:100%;
  position:relative;
}

#page-num {
  
  height:50px;
  width:50px;
  position:absolute;
  top:0;
  right: 50%;
}

#legal-text {
  
  height:150px;
  width:450px;
  position:absolute;
  top:25%;
  right:35%;
}
